__pycache__/Player.cpython-313.pyc
__pycache__/Player.cpython-313.pyc
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/Platformer.iml
.idea/vcs.xml
__pycache__/Player.cpython-313.pyc
__pycache__/Obstacle.cpython-313.pyc
__pycache__/utilitaire.cpython-313.pyc
__pycache__/Player.cpython-313.pyc
__pycache__/Player.cpython-313.pyc
__pycache__/utilitaire.cpython-313.pyc
__pycache__/Personnage.cpython-313.pyc
__pycache__/utilitaire.cpython-313.pyc
*.pyc
*.pyc
